{% extends "layout.html" %}


{%  block headcontent %}
    <script src="{{ url_for('static', filename='js/modules/api-wars.js') }}" type="module"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include "navbar.html" %}
        <main class="row">
            <div class="col-12">
                <h1>Star Wars universe planets</h1>
                <button type="button" class="btn btn-info" id="prev">Previous</button>
                <button type="button" class="btn btn-info" id="next">Next</button>
                <table class="planets">
                </table>
            </div>
            <div id ="modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                        </div>
                        <div class="modal-body">
                            <table>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row">
            <div class="col-12"></div>
        </footer>
    </div>
{% endblock %}