{% extends "layout.html" %}


{%  block headcontent %}
    <script src="{{ url_for('static', filename='js/modules/api-wars.js') }}" type="module"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include "navbar.html" %}
        <main class="row">
            <div class="col-12">
                <h1>Star Wars universe planets</h1>
                <div id="page-content">
                    <button type="button" class="btn new-btn-info text-light" id="prev">Previous</button>
                    <button type="button" class="btn new-btn-info text-light" id="next">Next</button>
                    <table class="planets" data-login-status="{{ status }}" data-user-id="{{ session["user_id"] }}">
                    </table>
                </div>

            </div>
            <div id ="modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header new-bg-info">
                            <h5 class="modal-title text-light"></h5>
                        </div>
                        <div class="modal-body">
                            <table></table>
                            <p id="modal-message"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn new-btn-secondary text-light"
                                    data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wait" class="justify-content-center">
                <div class="spinner-border text-light" role="status"></div>
            </div>
        </main>
        {% include "footer.html" %}
    </div>
{% endblock %}